# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- Popular libraries for Data Science
- Tools for Data Science

# Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Java

# Some of the commonly used libraries used by Data Scientists include:
1. Matplotlib
2. Pandas
3. Numpy

# Data Science tools
1. R
2. Python
3. Apache Hadoop

 ###  Below are a few examples of evaluating arithmetic expressions in Python

In [26]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [28]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Rahul